.header {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
  justify-content: center;
}

.header-logo {
  font-size: 72px;
  font-family: "Major Mono Display";
  text-align: center;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.header-nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-nav-li {
  padding: 0 8px;
}
.header-nav-link {
  color: #000000;
  font-family: var(--secondary-font);
  line-height: 20px;
  text-decoration: none;
}
.header-nav-link:hover {
  text-decoration: underline;
}

.header-search {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
