@font-face {
  font-style: normal;
  font-family: "calibre";
  font-display: swap;
  src: url("../fonts/calibre-r-school-web-regular.eot"),
    url("../fonts/calibre-r-school-web-regular.woff"),
    url("../fonts/calibre-r-school-web-regular.woff2");
}

:root {
  --secondary-font: 'calibre';
}
